{% extends '_base.html' %}

{% block title %}About page{% endblock %}

{% block content %}

    <div class="container">

<h1 class="mt-5 mb-5">¡Conócenos mejor en CristoSpeaks Faith-based Language Institute!</h1>

    <p>Somos un instituto en línea de idiomas cuyo objetivo es ayudar a los jóvenes latinoamericanos a aprovechar nuevas oportunidades laborales a través del dominio del inglés. Nosotros mismos somos testimonio de cómo el conocimiento de otros idiomas, especialmente el inglés, abre muchas puertas tanto en el ámbito profesional como personal. Además, nos permite llevar el mensaje de Cristo a personas más allá de nuestras fronteras.</p>
        <p>Nuestra academia tiene una orientación cristiana <strong>no denominacional</strong> y está diseñada para ayudarte a aprender inglés con profesores altamente capacitados. Nuestras actividades están centradas en los valores cristianos y el aprecio por la familia como pilar fundamental de la sociedad.</p>

    <p>Si hay algo que queremos transmitirte en este momento es que "Cristo es el camino, la verdad y la vida". Al honrar al Dios de Israel, experimentarás la prosperidad en tu vida.</p>
    <p>Si deseas obtener más información, no dudes en contactarnos a través de asas@gmail.com</p>
    <p class="mb-3">Estaremos encantados de atenderte.</p>

        <h2 class="mb-5"><i>Mateo 25:40: Y respondiendo el Rey, les dirá: De cierto os digo que en cuanto lo hicisteis a uno de estos mis hermanos pequeñitos, a mí lo hicisteis.</i></h2>

    </div>
{% endblock content %}