{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}

    <div class="row text-center container-fluid mr-5 mt-3 mb-5">

        <div class="col-12 mt-5 mb-3">
            <h1>Accede al futuro del trabajo remoto</h1>
            <h3>Accede al contenido que necesitas para conseguir tu nuevo empleo cuando y donde lo necesites.</h3>
        </div>

    </div>

    <div class="row text-center m-3">
        <!-- foto niña -->
        <div class="col-6">
            <div class="row">
                <h2>Programa en alianza con Kajae - Professional augmentation recruiters </h2>
                <p>Con nuestra plataforma, tendrás acceso a contenido exclusivo y asesoramiento de expertos en inglés
                    profesional y habilidades técnicas. Al completar nuestro nivel avanzado, y contar con carrera y
                    experiencia laboral, tendrás la oportunidad de pasar por un test en inglés para ingresar a la bolsa
                    laboral de Kajae, una empresa que se encarga de conectar empresas en Estados Unidos con
                    profesionales en Latinoamérica. No pierdas esta oportunidad única de mejorar tu inglés y tus
                    habilidades técnicas, mientras conectas con empleadores en el extranjero.</p>
            </div>
            <div class="row">
                <div class="col-6 mt-3 mb-5">
                    <button type="button" class="btn btn-primary">¡Reserva tu clase demo!</button>
                </div>
            </div>

        </div>
        <div class="col-6">
            <img src="{% static 'images/professionals/girl_companies.webp' %}" alt="image">
        </div>

    </div>



    <div class="row text-center m-3">


        <div class="col-6">
            <div class="row">
                <h2>Consigue el trabajo tech de tus sueños con nuestro programa de entrenamiento</h2>
                <p>Mejora tu inglés para impresionar en procesos de selección laboral. Con nuestra plataforma, tendrás
                    acceso a contenido exclusivo y asesoramiento de expertos en inglés profesional, empleabilidad y
                    habilidades técnicas, todo disponible en línea las 24 horas del día. Aumenta tus oportunidades de
                    empleo y destaca entre los demás candidatos.</p>
            </div>
            <div class="row">
                <div class="col-6 mt-3 mb-5">
                    <button type="button" class="btn btn-primary">¡Reserva tu clase demo!</button>
                </div>
            </div>

        </div>
        <div class="col-6">
            <img src="{% static 'images/professionals/girl_green.webp' %}" alt="image">
        </div>
    </div>



{% endblock content %}
