{% extends '_base.html' %}

{% block title %}About page{% endblock %}

{% block content %}

    <div class="container">

        <h1 class="mt-5 mb-5">¡Descubre la sede central de Ministerios Elim en Los Ángeles, California!</h1>

        <p>Con Cristo Speaks, tienes la oportunidad de viajar a la sede central de Ministerios Elim en Los Ángeles, California. Cada año, durante el verano (junio - julio), se lleva a cabo un retiro internacional en el cual podrás vivir una experiencia única al conocer la iglesia central, al pastor general Jorge Fuentes y compartir con la familia pastoral en LA.</p>

<p>Además, como reconocimiento al esfuerzo de los alumnos que logren el primer lugar en los niveles intermedio y avanzado, se les premiará con un viaje a Los Ángeles, con todos los gastos pagados*.</p>

        <p>Es importante destacar que, además de obtener el primer puesto en el nivel intermedio o avanzado, el alumno deberá contar con una visa válida para Estados Unidos. En caso de que el alumno no cuente con una visa, se brindará ayuda para obtener una carta de invitación que facilite el trámite de visa en la embajada del país de residencia del alumno. Asimismo, el alumno debe tener 18 años al momento de realizar el viaje.</p>

        <p>¡No pierdas la oportunidad de vivir esta increíble experiencia en la sede central de Ministerios Elim en Los Ángeles, California!</p>


    


    </div>


    <!-- test -->

{% endblock content %}